fastapi>=0.111
uvicorn[standard]
gunicorn
sqlalchemy
alembic
psycopg2-binary
python-multipart
python-jose[cryptography]

passlib[bcrypt]
python-dotenv
redis
celery
pydantic[email]==1.10.12
httpx
Pillow
jinja2
aiofiles
prometheus-client
structlog
click
